AUTH_APP_HOST=0.0.0.0
AUTH_APP_PORT=8000
AUTH_APP_NAME=auth_service

AUTH_REDIS_HOST=auth_cache
AUTH_REDIS_PORT=6379
AUTH_REDIS_DB_TEST=6

AUTH_POSTGRES_DB=auth_database
AUTH_POSTGRES_USER=auth
AUTH_POSTGRES_PASSWORD=123qwe 
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_HOST=auth_db

AUTH_JAEGER_HOST=auth_jaeger
AUTH_JAEGER_PORT=6831
AUTH_JAEGER_ENABLE_TRACER=True
SAULT=Hello
REQUEST_LIMIT_PER_MINUTE=20